<%- include('partials/header.ejs') %>

<div>
  <form action="/add" method="post">
    <input type="text" name="country" autofocus placeholder="<%= locals.error ? error : 'Enter country name'%>">
    <button type="submit">Add Country</button>
  </form>
  <%- include('partials/map.ejs') %>
  <div>
    <h2 class="total-count">Total Countries you visited : <%= total %></h2>
  </div>
</div>

<%- include('./partials/script.ejs') %>
<%- include('partials/footer.ejs') %>